@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    background-color: #111827;
}

.navigation {
    background-color: #9D174D;
    border-radius: 2rem 4rem 2rem 4rem;
    margin-top: -1.5rem;
}

.nav-head {
    padding: 1.2rem;
    font-size: 2.5rem;
    color: #111827;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.navigation ul {
    text-align: right;
    padding: 1rem;
    margin-top: -4rem;
}

.nav-list {
    display: inline;
    padding: 0.5rem;  
}

.link:hover {
    color : #EC4899;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.3rem;
    color : #111827;
}

.active-link {
    font-weight: bold;
}

.btn-body {
   display: block;
   margin: 1rem auto;
    width:250px;
    height:100px;
    text-align:center;
    font-size:1.5rem;
    background-color: #BE185D;
}

.footer {
    background-color: #9D174D;
    border-radius: 2rem 4rem 2rem 4rem;
    text-align: center;
    margin-bottom: -1rem;
}

.footer ul {
    padding-inline-start: 0rem;
}

.footer-head {
    font-size: 1.5rem;
    padding: 0.5rem
}

.social-links {
    display: inline;
    padding: 0.5rem;
}

